#picFrame {
	width:450px;
	height:350px;
	border:1px solid grey;

}

#picFrame img {
	width:450px;
	height:350px;
}

#country_list {
	list-style-type:none;
	padding:0px;
	text-align:center;
}


.country {
	border:2px solid #002080;
	border-radius:5px;
	color:#002080;
	font-size:1.8em;
	height:40px;
	width:175px;
	text-align:center;
	vertical-align:center;
}	

.country:hover {
	color:white;
	background-color:#002080;
}

.arrow {
	vertical-align:middle;
	table-layout:fixed;
}

.arrow:hover {
	color:#002080;
}
