<h1 class="text-center"> Welcome! </h1>
<div id="landingText">
<p> My name is John Roof but I go by Jack. I'm a Software Engineer living in San Francisco, California currently employed by Infosys. I work onsite at clients around the Bay Area developing features of the Infosys Cloud Suite of Products. </p>
<br>
<p> I'm originally from Connecticut, but moved West in 2013 and got my B.S in Computer Science with an Emphasis in Software from Santa Clara University in June of 2017. I have a strong interest in all things Software but particuarly Machine Learning, APIs, and Full-Stack Web Development. </p>
<br>
<p> Outside of my job, I enjoy skateboarding around the city and snowboarding up in Lake Tahoe!</p>
<br>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center" id="intro">
    <h2> Get in touch: </h2>
  </div>
</div>
<div class="row">
      <div class="col-md-6 text-center">
        <h4><strong>Email: </strong><a href="mailto:jroof@scu.edu?Subject=johnroof.me%20inquiry" target="_top">johnroof8@gmail.com</a></h4>
      </div>
      <div class="col-md-6 text-center">
        <h4><strong>Phone:</strong> (203)-856-5701 </h4>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-center">
          <h4><strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/john-roof-54a31796" target="_blank">https://www.linkedin.com/in/johnroof88</a></h4>
      </div>
      <div class="col-md-6 text-center">
        <h4><strong>Github: </strong><a href="https://github.com/jroof88" target="_blank">https://github.com/jroof88</a></h4>
      </div>
  </div>
  <br>
  <br>