<div id="resume">
<div class="row">
    <div class="col-md-6">
      <h2 class="text-center"> Employment </h2>
      <ul>
        <li> <span class="list_title"><strong>Software Engineer</strong> - <a href="https://www.infosys.com/" target="_blank"><i>Infosys</i></a></span>
          <ul>
            <li> Work in the Cloud Infrastructure Services division onsite at clients developing custom features to the Infosys' Cloud Product Suite </li>
            <li> Underwent eight week intensive training on Web Application Development using Java EE </li>
            <li> HTML, CSS, JavaScript, jQuery, AngularJS, plotly.js, jQuery, Java, Hibernate, Spring, MySQL, PostgreSQL, Python, RESTful API, AJAX, JSON, SPA </li>
            <li> Bay Area, California ~ July 2017 - Present</li>
          </ul>
        </li>
        <li> <span class="list_title"><strong>Student Software Developer</strong> - <i>Santa Clara University CS Dept.</i></span>
          <ul>
            <li> Worked with Professor on Web Application aimed at getting under represented minorities interested in Computer Science </li>
            <li> HTML, CSS, Bootstrap, JavaScript, PHP, MySQL</li>
            <li> Santa Clara, California ~ December 2016 - July 2017</li>
          </ul>
        </li>
        <li> <span class="list_title"><strong>Technology Development Intern</strong> - <i><a href="https://www.salesquarterbacks.com/" target="_blank">SalesQuarterbacks, LLC</a></i></span>
          <ul>
            <li>Python scripts to automate internal processes, maintain and edit company website, create e-Learning applications</li>
            <li>HTML, CSS, JavaScript, Bootstrap, Python, Adobe Captivate & PhoneGap</li>
            <li> Palo Alto, California  ~ May 2016 - December 2016</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2 class="text-center"> Technical Skills </h2>
      <ul>
        <li> <span class="list_title"><strong>Languages</strong></span>
          <ul>
            <li><i> Proficient: </i>Java, Python, JavaScript, C/C++</li>
            <li><i> Some Experience: </i>Ruby, Scala, MATLAB</li>
          </ul>
        </li>
        <li> <span class="list_title"><strong>Frameworks & Libraries</strong></span>
          <ul>
            <li> <i> JavaScript & CSS: </i> Bootstrap, AngularJS, jQuery </li>
            <li> <i> Java: </i> Hibernate, Swing, Spring, JAX-RS </li>
            <li> <i> Python: </i> Flask, Pandas, nltk, APScheduler, PyMySQL, scikit-learn </li>
          </ul>
        </li>
        <li> <span class="list_title"><strong> Backend </strong></span>
          <ul>
            <li> <i> Database: </i> MySQL, PostgreSQL, MongoDB </li>
            <li> <i> Infrastructure: </i> Heroku, Google Firebase </li>
          </ul>
        </li>
      </ul>
      <h2 class="text-center"> Education </h2>
      <ul>
        <li> <span class="list_title"><strong>Santa Clara University</strong> - <i>Santa Clara, California</i></span>
          <ul>
            <li> Bachelors of Science, Computer Science <i>Emphasis in Software</i> </li>
            <li> Graduation: June 2017 </li>
          </ul>
        </li>
        <li> <span class="list_title"><strong>University of New South Wales</strong> - <i>Sydney, Australia</i></span>
          <ul>
            <li> Student Exchange Fall 2015 - <a href="http://www.iie.org/programs/globale3#.V2sfTZMrLow" target="_blank"> Global E<sup>3</sup> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
</div>
<h5 class="text-center"> <a href="docs/john_roof_resume.pdf" target="_blank">  Download PDF Version </a></h5>
</div>
